.container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.298);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:hover{
    cursor: pointer;
}

.wrapper {
    background-color: #011b3fce;
    padding: 20px;
    min-height: 600px;
    min-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text);
    gap: 20px;
}

.wrapper:hover{
    cursor: default;
}

.imgContainer{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
}
.title{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin-top: 10px;
}

.linksContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}

.linksButton{
    display: flex;
}

.linksButton:hover{
    transform: scale(1.1);
}

.youtube{
    background-color: red;
}

.deezer{
    background-color: black;
}

.soundcloud{
    background-color: orange;
}

.spotify{
    background-color: green;
}

.buttonContainer{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.contact{
    height: fit-content;
    font-size: 14px;
    background-color: yellowgreen;
}

.book{
    height: fit-content;
    font-size: 14px;
    background-color: #007bff;
}