
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    width: 200px;
    height: 300px;
    margin: 20px;
}

.pictureEvent {
    object-fit: contain;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}