.card {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #00000079;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: 300ms;
    gap: 10px;
}

.cancel{
    background-color: rgb(212, 58, 58);
}

.accepted{
    background-color: green;
}

.leftContent{
    grid-column: 1;
    display: flex;
    letter-spacing: 0.5px;
    align-items: center;
}


.dateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px grey solid;
}

.day{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;

}

.month{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;

}

.year{
    font-size: 14px;
}



.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.title{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.venue{
    font-size: 14px;
}

.venueInfosContainer{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hoursContainer{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tarifContainer{
    grid-column: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btnContainer{
    grid-column: 5;
    display: flex;
    justify-content: center;
    gap: 20px
}

.btnAccept{
    height: 25px;
    width: 25px;
    background-color: green;
    padding: 5px;
    border-radius: 10px;
}

.btnAccept:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btnDecline{
    background-color: red;
    height: 25px;
    width: 25px;
    padding:  5px;
    border-radius: 10px;
}

.btnDecline:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.statusContainer{
    grid-column: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
}


  