.container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.298);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #011b3fce;
    padding: 20px;
    min-height: 600px;
    min-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text);
    gap: 20px;
}

.wrapper:hover{
    cursor: default;
}

.cardModalInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.cardBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cardBtnDelete {
    color: red;
    width: 50px;
}

.deleteIcon {
    border-radius: 40px;
}

.cardBtnPublish {
    background-color: green;
    color: #ffff;
}
