.card {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #06013f86;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: 300ms;
}

.card:hover{
    transition: 300ms;
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #007bff
}

.dateContainer{
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px grey solid;
}

.day{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;

}

.month{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;

}

.year{
    font-size: 14px;
}

.leftContent{
    display: flex;
    letter-spacing: 0.5px;
    gap: 20px;
    align-items: center;
}


.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.title{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.venue{
    font-size: 14px;
}


.buttonContainer{
    display: flex;
    gap: 20px;
}

.contact{
    margin-top: 0px;
    height: fit-content;
    font-size: 14px;
    background-color: rgb(112, 160, 16);
}

.contact:disabled{
    background-color: gray;
}

.book{
    margin-top: 0px;
    height: fit-content;
    font-size: 14px;
    background-color: #5547f4;

}

.genres{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.genre{
    background-color: #214E73;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

