.mainContent {
    width: 100%;
    padding: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
}

.filters {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
}

.input {
    background-color: #06013f53;
    border: none;
    padding: 15px 10px;
    width: 100%;
    height: 44px;
    border-radius: 16px;
    color: white;
}

.input::placeholder {
    color: #ffffff;
}

.input:focus {
    outline: none;
    border: 1px #D1D5DB solid;

}