.formContainer {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    background-color: #010c36;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    min-height: 550px;
    max-height: 600px;
    width: 600px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0A0A0A;
    border-radius: 50px;
}

.form > h2{
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
}

.formPicture {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.formSection{
    display: flex;
    flex-direction: column;
    gap: 25px
}

.pictureSection{
    display: flex;
    flex-direction: column;
    gap: 25px
}

.pictureProfil {
    border: #3F88C5 solid 1px;
    border-radius: 50%;
}

.pictureBtn {
    font-size: 12px;
    padding: 5px;
}

.input{
    background-color: transparent;
    border: #3F88C5 solid 1px;
    padding: 15px 10px;
    width: 300px;
    height: 44px;
    border-radius: 16px;
    color: white;
}

.inputSelect{
    background-color: transparent;
    border: #3F88C5 solid 1px;
    padding: 15px 10px;
    width: 300px;
    height: 50px;
    border-radius: 16px;
    color: white;
}


.input:focus{
    outline: none;
    border: 1px #D1D5DB solid;
}

.option{
    background-color: #010c36;
    border: #3F88C5 solid 1px;
    border-radius: 16px;
}

.option:checked {
    background-color: #0A0A0A;
}

.createBtn {
    font-size: 16px;
    width: 150px;
}